/* colors */
$white: #fff;
$primary-purple: #E48CFB;
$dark-purple: #533762;
$dark-purple-2: #7C5392;
$primary-orange: #F1B263;
$primary-green: #58DD88;


/* shadows */
$extended-purple-shadow: 0px 0px 144px -10px rgba(124, 83, 146, 0.46);

/* gradients */
$background-gradient: linear-gradient(90deg, #191921 0%, #181818 20%, #181818 50%, #181818 80%, #191921 100%);
$multicolor-gradient: linear-gradient(135deg, $primary-orange 0%, $dark-purple 50%, $primary-green 100%);