.landing-skills {
    padding-top: 46px;

    &__icons-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            justify-items: center;
            row-gap: 40px;
        }
    }

    &__icon {
        height: 62.18px;

        img {
            height: 100%;
        }

    }
}