@import "/src/styles/variables.scss";

.landing-contact {

    padding-top: 46px;

    &__container {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 50px;
        margin-top: 27px;

        @media screen and (max-width: 1170px) {
            grid-template-columns: 40% 60%;
            gap: 15px;
        }

        @media screen and (max-width: 960px) {
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }

    &__left-container {
        max-width: 467px;
        width: 100%;

        @media screen and (max-width: 1170px) {
            max-width: 100%;
        }

        &__title {
            font-size: 64px;
            font-weight: 300;
        }

        @media screen and (max-width: 500px) {
            &__title {
                font-size: 40px;
            }
        }
    }

    &__right-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__form {
        background-color: $dark-gray;
        width: calc(100% - 15px);
        border-radius: 50px;
        position: relative;
        padding: 50px 39px 89px 34px;
        margin-bottom: 15px;
        box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.44);

        @media screen and (max-width: 500px) {
            padding: 30px 20px 89px 20px;
            border-radius: 40px;
            width: 100%;
        }

        &__input-group {
            display: flex;
            flex-direction: column;
        }

        &__title-ribbon {
            position: relative;
            margin-left: -49px;
            height: 52px;
            width: 80%;
            max-width: 329px;
            background-color: $primary-orange;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 500px) {
                max-width: unset;
                margin-left: -25px;
            }

            @media screen and (max-width: 400px) {
                height: 70px;
                padding-left: 10px;
            }



            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 100%;
                width: 0;
                height: 100%;

                border-top: 21px solid $primary-orange;
                border-bottom: 31px solid $primary-orange;
                border-right: 23px solid transparent;

                @media screen and (max-width: 400px) {
                    border-top: 30px solid $primary-orange;
                    border-bottom: 30px solid $primary-orange;
                    border-right: 10px solid transparent;
                }
            }


            h3 {
                font-size: 26px;
                font-weight: 400;
                color: $dark-gray;
            }
        }

        &__form {
            margin-top: 36px;

            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        &__label {
            font-size: 23px;
            font-weight: 300;
            margin-bottom: 4px;

            &__number {
                margin-right: 1ch;
                color: #989898;
            }
        }

        textarea {
            height: 122px;
        }

        &__input {
            font-size: 15px;
            font-weight: 300;
            padding: 6px 9px;
            background-color: transparent;
            color: $white;
            border: none;
            border-bottom: 1px solid #848484;
            outline: none;
            resize: none;

            width: 100% !important;

            &::placeholder {
                color: #525252;
            }

            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px $dark-gray inset;
                -webkit-text-fill-color: $white;
            }
        }

        &__send-button-container {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            display: flex;
            justify-content: center;



        }

        &__send-button {
            background-color: $primary-orange;
            color: #303030;
            font-size: 23px;
            padding: 16px 96px 19px 96px;
            border: none;
            border-radius: 10px;
            font-weight: 400;
            margin-bottom: -15px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: lighten($primary-orange, 3%);
            }

            @media screen and (max-width: 500px) {
                padding: 16px 50px 19px 50px;
            }
        }
    }

    &__contact {
        display: flex;
        align-items: center;
        gap: 23px;

        &__info {

            width: 100%;

            &__title {
                font-size: 24px;
                font-weight: 500;
            }

            &__text {
                font-size: 24px;
                font-weight: 300;
                margin-top: 10px;
                line-break: auto;
                word-break: break-all;

                a {
                    word-break: break-all;
                    line-break: auto;
                    color: inherit;
                }
            }
        }

    }

    &__social {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
}