@import "./styles/variables.scss";


*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

html,
body {
	min-height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: $background-gradient;

	font-family: "Roboto", sans-serif;
	font-size: 22px;
	color: $white;

	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

/* containers */
.container {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
}

/* full width container */
.container-fluid {
	width: 100%;
	margin: 0 auto;
}

/* underline */
.title-underline {
	width: 90%;
	max-width: 466px;
	height: 3px;
	background: $multicolor-gradient;
	margin-top: 23px;
}

/* texts */
.title {
	font-size: 46px;
	font-weight: 300;
}

.paragraph {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.25;
}

.align-text-left {
	text-align: left;
}

.align-text-center {
	text-align: center;
}

.align-text-right {
	text-align: right;
}

/* margins */
.mt-1 {
	margin-top: 10px;
}

.mt-2 {
	margin-top: 23px;
}

.mt-3 {
	margin-top: 30px;
}